@model IEnumerable<Client.UI.Models.BookViewModel>

@{
    ViewData["Title"] = "Books";
}

<h1>Lista dostupnih knjiga</h1>


<table class="table">
    <thead>
        <tr>
            <th>
               Naslov
            </th>
            <th>
                Autor
            </th>
            <th>
                Broj stranica
            </th>
            <th>
                Godina izdavanja
            </th>
            <th>
                Cena
            </th>
            <th>
                Kolicina
            </th>
       
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagesNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Detalji", "GetItem", "Bookstores", new { id = item.Id }) |
                @Html.ActionLink("Kupi", "EnlistPurchase", "Bookstores", new { bookId = item.Id, count = 0 })
            </td>
        </tr>
}
    </tbody>
</table>
